In [3]:
# Importing libraries
import pandas as pd

# Creating resume dataframe
df_col = pd.read_csv(r"D:\Precipitation\by_water_year\era5land_total_precipitation_1950_1951_(mm).csv", compression = "zip")
max_precipitations = pd.DataFrame(columns = ["year", "type_of_period", "duration"] + list(df_col.columns[2:]))

Y = range(1950, 2023) #1950-2023
T = ["no restriction", "9h-9h"]
H = [1,2,4,6,8,12,24,48,72,96,120]
i = -1
    
for year in Y:
    df_year = pd.read_csv(r"D:\Precipitation\by_water_year\era5land_total_precipitation_" + str(year) + "_" + str(year+1) + "_(mm).csv", compression = "zip")
    print("Water year " + str(year) + "_" + str(year+1) + " processed.")

    for type_of_period in T:
        
        for hours in H:
            i += 1
            df_roll = df_year.iloc[:, 2:].rolling(hours).sum()
            df_roll = pd.concat([df_year.iloc[0:(8761-hours),0], df_year.iloc[(hours-1):,1].reset_index(drop = True), df_roll.iloc[(hours-1):, :].reset_index(drop = True)], axis = 1)
            df_roll.columns = df_year.columns
            df_roll["ti"] = pd.to_datetime(df_roll["ti"], format = '%Y-%m-%d %H:%M:%S')
            df_roll["tf"] = pd.to_datetime(df_roll["tf"], format = '%Y-%m-%d %H:%M:%S')

            if type_of_period == "9h-9h":
                if hours < 24:
                    df_roll = df_roll[((df_roll["ti"].dt.hour < df_roll["tf"].dt.hour) & (df_roll["ti"].dt.hour >= 9)) | ((df_roll["ti"].dt.hour < df_roll["tf"].dt.hour) & (df_roll["tf"].dt.hour <= 9)) | ((df_roll["ti"].dt.hour > df_roll["tf"].dt.hour) & (df_roll["ti"].dt.hour >= 9) & (df_roll["tf"].dt.hour <= 9))]
                else:
                    df_roll = df_roll[(df_roll["ti"].dt.hour == 9) & (df_roll["tf"].dt.hour == 9)]
                
                
            content = [str(year) + "_" + str(year+1), type_of_period, str(hours) + "h"] + list(df_roll.iloc[:,2:].max())
            max_precipitations.loc[i, :] = content

max_precipitations.to_csv(r"D:\Precipitation\by_water_year\max_precipitations_(mm).csv", index = False)
max_precipitations

Water year 1950_1951 processed.
Water year 1951_1952 processed.
Water year 1952_1953 processed.
Water year 1953_1954 processed.
Water year 1954_1955 processed.
Water year 1955_1956 processed.
Water year 1956_1957 processed.
Water year 1957_1958 processed.
Water year 1958_1959 processed.
Water year 1959_1960 processed.
Water year 1960_1961 processed.
Water year 1961_1962 processed.
Water year 1962_1963 processed.
Water year 1963_1964 processed.
Water year 1964_1965 processed.
Water year 1965_1966 processed.
Water year 1966_1967 processed.
Water year 1967_1968 processed.
Water year 1968_1969 processed.
Water year 1969_1970 processed.
Water year 1970_1971 processed.
Water year 1971_1972 processed.
Water year 1972_1973 processed.
Water year 1973_1974 processed.
Water year 1974_1975 processed.
Water year 1975_1976 processed.
Water year 1976_1977 processed.
Water year 1977_1978 processed.
Water year 1978_1979 processed.
Water year 1979_1980 processed.
Water year 1980_1981 processed.
Water year 1981_1982 processed.
Water year 1982_1983 processed.
Water year 1983_1984 processed.
Water year 1984_1985 processed.
Water year 1985_1986 processed.
Water year 1986_1987 processed.
Water year 1987_1988 processed.
Water year 1988_1989 processed.
Water year 1989_1990 processed.
Water year 1990_1991 processed.
Water year 1991_1992 processed.
Water year 1992_1993 processed.
Water year 1993_1994 processed.
Water year 1994_1995 processed.
Water year 1995_1996 processed.
Water year 1996_1997 processed.
Water year 1997_1998 processed.
Water year 1998_1999 processed.
Water year 1999_2000 processed.
Water year 2000_2001 processed.
Water year 2001_2002 processed.
Water year 2002_2003 processed.
Water year 2003_2004 processed.
Water year 2004_2005 processed.
Water year 2005_2006 processed.
Water year 2006_2007 processed.
Water year 2007_2008 processed.
Water year 2008_2009 processed.
Water year 2009_2010 processed.
Water year 2010_2011 processed.
Water year 2011_2012 processed.
Water year 2012_2013 processed.
Water year 2013_2014 processed.
Water year 2014_2015 processed.
Water year 2015_2016 processed.
Water year 2016_2017 processed.
Water year 2017_2018 processed.
Water year 2018_2019 processed.
Water year 2019_2020 processed.
Water year 2020_2021 processed.
Water year 2021_2022 processed.
Water year 2022_2023 processed.

,year,type_of_period,duration,P0000,P0001,P0002,P0003,P0004,P0005,P0006,...,P1047,P1048,P1055,P1056,P1057,P1058,P1059,P1062,P1063,P1064
0,1950_1951,no restriction,1h,8.326463,8.243036,8.805152,9.028085,9.084161,8.476909,7.380027,...,3.436994,3.357664,3.744721,3.943034,3.918417,3.777545,3.583334,4.295899,4.206998,4.13451
1,1950_1951,no restriction,2h,15.106078,16.101751,16.759608,16.780123,16.432732,15.006237,13.470327,...,6.239377,5.898822,7.132474,7.441573,7.321216,7.192655,7.053152,8.147297,7.940779,7.769816
2,1950_1951,no restriction,4h,23.979615,25.218735,26.281431,26.591893,26.449654,24.742782,22.127772,...,8.81746,9.966318,14.006458,14.470104,13.779424,13.340397,13.321247,14.879042,14.202038,13.961323
3,1950_1951,no restriction,6h,27.777676,29.959129,30.58143,30.573227,30.292848,28.80344,26.464701,...,9.726975,12.720834,19.964095,20.419532,19.537376,18.939698,18.073954,21.215523,20.230791,19.408811
4,1950_1951,no restriction,8h,29.829204,32.751942,32.851787,32.683562,32.611074,31.039601,29.115267,...,10.867622,14.917336,22.977104,23.383304,22.937441,22.2618,21.308528,23.622649,22.69399,22.278214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1601,2022_2023,9h-9h,24h,54.779407,84.152669,78.163899,69.08714,61.068974,52.875238,47.976034,...,33.152206,27.432676,23.5123,24.586378,25.095019,25.851524,27.461352,29.078925,29.064724,29.050523
1602,2022_2023,9h-9h,48h,87.853795,110.887036,107.861828,103.527183,96.7857,88.935407,80.281787,...,38.806304,32.095753,46.217747,48.270375,49.124993,49.5097,50.263621,50.270073,50.356567,50.426278
1603,2022_2023,9h-9h,72h,94.963124,117.144329,117.125774,116.913173,110.899793,101.122091,88.09598,...,38.814284,32.113306,47.071073,49.18696,50.157759,50.774843,51.829558,51.357064,51.49778,51.613968
1604,2022_2023,9h-9h,96h,114.451494,142.719587,142.20917,141.910078,135.120828,124.048291,109.234199,...,45.058457,43.492522,67.695491,71.006805,73.210482,74.905513,76.910375,76.315241,77.277005,78.081276
1605,2022_2023,9h-9h,120h,127.571542,171.079624,161.53812,160.712944,152.890926,139.581149,121.441539,...,46.867097,46.259057,79.1928,83.030829,85.067973,86.42477,88.202422,91.240056,91.855844,92.369648