In [7]:
import pandas as pd
import numpy as np
import cdsapi
import xarray as xr

In [3]:
local = pd.read_csv(r"D:\Precipitation\local.cvs")
local

      point  latitude  longitude
0         0      42.2       -8.2
1         1      42.1       -8.6
2         2      42.1       -8.5
3         3      42.1       -8.4
4         4      42.1       -8.3
...     ...       ...        ...
1007   1058      37.1       -7.8
1008   1059      37.1       -7.7
1009   1062      37.0       -8.0
1010   1063      37.0       -7.9
1011   1064      37.0       -7.8

[1012 rows x 3 columns]

In [5]:
precip = pd.read_excel(r"C:\Users\joaoa\Desktop\Doutoramento\Daily_rainfall_analysis\ERA5_Rainfall_PT_mm_Oct1981_Sep2023.xlsx")
precip

,Index,P0000,P0001,P0002,P0003,P0004,P0005,P0006,P0007,P0008,...,P1047,P1048,P1055,P1056,P1057,P1058,P1059,P1062,P1063,P1064
0,1981-10-01,18.59,29.60,28.42,25.24,21.88,19.20,17.59,28.02,30.83,...,0.44,0.51,0.25,0.24,0.25,0.26,0.27,0.15,0.15,0.14
1,1981-10-02,3.65,9.55,8.22,6.58,4.94,3.69,2.98,10.32,9.63,...,0.02,0.02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,1981-10-03,7.53,15.72,14.61,12.94,11.11,9.19,7.73,15.97,16.74,...,2.12,2.66,1.65,1.61,1.32,0.93,0.59,1.18,0.99,0.83
3,1981-10-04,51.39,47.14,49.84,52.24,54.10,53.28,50.52,45.37,48.99,...,0.29,0.47,0.53,0.49,0.43,0.35,0.28,0.25,0.24,0.22
4,1981-10-05,51.86,30.62,38.98,48.55,57.39,62.94,66.47,28.54,35.65,...,9.71,10.47,13.67,13.27,12.35,11.22,10.13,10.34,9.65,9.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15325,2023-09-26,0.05,0.03,0.02,0.02,0.02,0.02,0.02,0.01,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
15326,2023-09-27,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
15327,2023-09-28,0.06,0.50,0.38,0.24,0.10,0.03,0.01,0.47,0.45,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
15328,2023-09-29,0.06,0.01,0.02,0.03,0.05,0.05,0.04,0.01,0.01,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
15329,2023-09-30,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [10]:
ds = xr.open_dataset(r"D:\Precipitation\by_civil_year\Ficheiros NC\era5land_1981.nc")
df = ds.to_dataframe()
df = df.reset_index()
df

          longitude   latitude                time        tp
0              -9.4  42.200001 1981-01-01 00:00:00       NaN
1              -9.4  42.200001 1981-01-01 01:00:00       NaN
2              -9.4  42.200001 1981-01-01 02:00:00       NaN
3              -9.4  42.200001 1981-01-01 03:00:00       NaN
4              -9.4  42.200001 1981-01-01 04:00:00       NaN
...             ...        ...                 ...       ...
15321235       -6.2  37.000000 1981-12-31 19:00:00  0.010922
15321236       -6.2  37.000000 1981-12-31 20:00:00  0.010922
15321237       -6.2  37.000000 1981-12-31 21:00:00  0.010922
15321238       -6.2  37.000000 1981-12-31 22:00:00  0.010922
15321239       -6.2  37.000000 1981-12-31 23:00:00  0.010922

[15321240 rows x 4 columns]

# 1 day - P0000

In [16]:
df[(round(df["longitude"], 1) == -8.2) & (round(df["latitude"], 1) == 42.2)].iloc[6552:6576,:]

         longitude   latitude                time        tp
5577912       -8.2  42.200001 1981-10-01 00:00:00  0.004504
5577913       -8.2  42.200001 1981-10-01 01:00:00  0.003679
5577914       -8.2  42.200001 1981-10-01 02:00:00  0.005542
5577915       -8.2  42.200001 1981-10-01 03:00:00  0.007191
5577916       -8.2  42.200001 1981-10-01 04:00:00  0.007668
5577917       -8.2  42.200001 1981-10-01 05:00:00  0.007708
5577918       -8.2  42.200001 1981-10-01 06:00:00  0.007768
5577919       -8.2  42.200001 1981-10-01 07:00:00  0.007920
5577920       -8.2  42.200001 1981-10-01 08:00:00  0.008089
5577921       -8.2  42.200001 1981-10-01 09:00:00  0.008443
5577922       -8.2  42.200001 1981-10-01 10:00:00  0.008980
5577923       -8.2  42.200001 1981-10-01 11:00:00  0.009937
5577924       -8.2  42.200001 1981-10-01 12:00:00  0.010480
5577925       -8.2  42.200001 1981-10-01 13:00:00  0.010916
5577926       -8.2  42.200001 1981-10-01 14:00:00  0.011519
5577927       -8.2  42.200001 1981-10-01 15:00:00  0.012794
5577928       -8.2  42.200001 1981-10-01 16:00:00  0.014154
5577929       -8.2  42.200001 1981-10-01 17:00:00  0.016309
5577930       -8.2  42.200001 1981-10-01 18:00:00  0.017157
5577931       -8.2  42.200001 1981-10-01 19:00:00  0.017373
5577932       -8.2  42.200001 1981-10-01 20:00:00  0.017997
5577933       -8.2  42.200001 1981-10-01 21:00:00  0.018180
5577934       -8.2  42.200001 1981-10-01 22:00:00  0.018268
5577935       -8.2  42.200001 1981-10-01 23:00:00  0.018401

In [24]:
sum(df[(round(df["longitude"], 1) == -8.2) & (round(df["latitude"], 1) == 42.2)].iloc[6552:6576,3])

0.2709789164364338

# 2 day - P0000

In [28]:
df[(round(df["longitude"], 1) == -8.2) & (round(df["latitude"], 1) == 42.2)].iloc[6576:6600,:]

         longitude   latitude                time        tp
5577936       -8.2  42.200001 1981-10-02 00:00:00  0.018587
5577937       -8.2  42.200001 1981-10-02 01:00:00  0.000072
5577938       -8.2  42.200001 1981-10-02 02:00:00  0.000107
5577939       -8.2  42.200001 1981-10-02 03:00:00  0.000143
5577940       -8.2  42.200001 1981-10-02 04:00:00  0.000245
5577941       -8.2  42.200001 1981-10-02 05:00:00  0.000459
5577942       -8.2  42.200001 1981-10-02 06:00:00  0.000588
5577943       -8.2  42.200001 1981-10-02 07:00:00  0.000672
5577944       -8.2  42.200001 1981-10-02 08:00:00  0.000868
5577945       -8.2  42.200001 1981-10-02 09:00:00  0.001145
5577946       -8.2  42.200001 1981-10-02 10:00:00  0.001786
5577947       -8.2  42.200001 1981-10-02 11:00:00  0.001939
5577948       -8.2  42.200001 1981-10-02 12:00:00  0.002039
5577949       -8.2  42.200001 1981-10-02 13:00:00  0.002190
5577950       -8.2  42.200001 1981-10-02 14:00:00  0.002206
5577951       -8.2  42.200001 1981-10-02 15:00:00  0.002264
5577952       -8.2  42.200001 1981-10-02 16:00:00  0.002309
5577953       -8.2  42.200001 1981-10-02 17:00:00  0.002332
5577954       -8.2  42.200001 1981-10-02 18:00:00  0.002334
5577955       -8.2  42.200001 1981-10-02 19:00:00  0.002416
5577956       -8.2  42.200001 1981-10-02 20:00:00  0.002464
5577957       -8.2  42.200001 1981-10-02 21:00:00  0.002635
5577958       -8.2  42.200001 1981-10-02 22:00:00  0.003024
5577959       -8.2  42.200001 1981-10-02 23:00:00  0.003307

In [29]:
sum(df[(round(df["longitude"], 1) == -8.2) & (round(df["latitude"], 1) == 42.2)].iloc[6576:6600,3])

0.05612878501415253

# 3 day - P0000

In [30]:
df[(round(df["longitude"], 1) == -8.2) & (round(df["latitude"], 1) == 42.2)].iloc[6600:6624,:]

         longitude   latitude                time        tp
5577960       -8.2  42.200001 1981-10-03 00:00:00  0.003652
5577961       -8.2  42.200001 1981-10-03 01:00:00  0.000219
5577962       -8.2  42.200001 1981-10-03 02:00:00  0.000754
5577963       -8.2  42.200001 1981-10-03 03:00:00  0.002368
5577964       -8.2  42.200001 1981-10-03 04:00:00  0.003970
5577965       -8.2  42.200001 1981-10-03 05:00:00  0.005316
5577966       -8.2  42.200001 1981-10-03 06:00:00  0.006328
5577967       -8.2  42.200001 1981-10-03 07:00:00  0.006900
5577968       -8.2  42.200001 1981-10-03 08:00:00  0.007159
5577969       -8.2  42.200001 1981-10-03 09:00:00  0.007263
5577970       -8.2  42.200001 1981-10-03 10:00:00  0.007302
5577971       -8.2  42.200001 1981-10-03 11:00:00  0.007345
5577972       -8.2  42.200001 1981-10-03 12:00:00  0.007370
5577973       -8.2  42.200001 1981-10-03 13:00:00  0.007382
5577974       -8.2  42.200001 1981-10-03 14:00:00  0.007392
5577975       -8.2  42.200001 1981-10-03 15:00:00  0.007449
5577976       -8.2  42.200001 1981-10-03 16:00:00  0.007467
5577977       -8.2  42.200001 1981-10-03 17:00:00  0.007486
5577978       -8.2  42.200001 1981-10-03 18:00:00  0.007492
5577979       -8.2  42.200001 1981-10-03 19:00:00  0.007502
5577980       -8.2  42.200001 1981-10-03 20:00:00  0.007504
5577981       -8.2  42.200001 1981-10-03 21:00:00  0.007507
5577982       -8.2  42.200001 1981-10-03 22:00:00  0.007511
5577983       -8.2  42.200001 1981-10-03 23:00:00  0.007528

In [32]:
sum(df[(round(df["longitude"], 1) == -8.2) & (round(df["latitude"], 1) == 42.2)].iloc[6600:6624,3])

0.1481694020330906

# 4 day - P0000

In [33]:
df[(round(df["longitude"], 1) == -8.2) & (round(df["latitude"], 1) == 42.2)].iloc[6624:6648,:]

         longitude   latitude                time        tp
5577984       -8.2  42.200001 1981-10-04 00:00:00  0.007529
5577985       -8.2  42.200001 1981-10-04 01:00:00  0.000000
5577986       -8.2  42.200001 1981-10-04 02:00:00  0.000000
5577987       -8.2  42.200001 1981-10-04 03:00:00  0.000000
5577988       -8.2  42.200001 1981-10-04 04:00:00  0.000003
5577989       -8.2  42.200001 1981-10-04 05:00:00  0.000010
5577990       -8.2  42.200001 1981-10-04 06:00:00  0.000037
5577991       -8.2  42.200001 1981-10-04 07:00:00  0.000136
5577992       -8.2  42.200001 1981-10-04 08:00:00  0.000430
5577993       -8.2  42.200001 1981-10-04 09:00:00  0.003265
5577994       -8.2  42.200001 1981-10-04 10:00:00  0.005496
5577995       -8.2  42.200001 1981-10-04 11:00:00  0.007223
5577996       -8.2  42.200001 1981-10-04 12:00:00  0.009769
5577997       -8.2  42.200001 1981-10-04 13:00:00  0.012796
5577998       -8.2  42.200001 1981-10-04 14:00:00  0.017088
5577999       -8.2  42.200001 1981-10-04 15:00:00  0.022364
5578000       -8.2  42.200001 1981-10-04 16:00:00  0.027942
5578001       -8.2  42.200001 1981-10-04 17:00:00  0.033554
5578002       -8.2  42.200001 1981-10-04 18:00:00  0.037088
5578003       -8.2  42.200001 1981-10-04 19:00:00  0.040243
5578004       -8.2  42.200001 1981-10-04 20:00:00  0.042739
5578005       -8.2  42.200001 1981-10-04 21:00:00  0.044576
5578006       -8.2  42.200001 1981-10-04 22:00:00  0.046315
5578007       -8.2  42.200001 1981-10-04 23:00:00  0.048020

In [34]:
sum(df[(round(df["longitude"], 1) == -8.2) & (round(df["latitude"], 1) == 42.2)].iloc[6624:6648,3])

0.40662288852036

# 5 day - P0000

In [35]:
df[(round(df["longitude"], 1) == -8.2) & (round(df["latitude"], 1) == 42.2)].iloc[6648:6672,:]

         longitude   latitude                time        tp
5578008       -8.2  42.200001 1981-10-05 00:00:00  0.051389
5578009       -8.2  42.200001 1981-10-05 01:00:00  0.005013
5578010       -8.2  42.200001 1981-10-05 02:00:00  0.008840
5578011       -8.2  42.200001 1981-10-05 03:00:00  0.011909
5578012       -8.2  42.200001 1981-10-05 04:00:00  0.014290
5578013       -8.2  42.200001 1981-10-05 05:00:00  0.016009
5578014       -8.2  42.200001 1981-10-05 06:00:00  0.017442
5578015       -8.2  42.200001 1981-10-05 07:00:00  0.017789
5578016       -8.2  42.200001 1981-10-05 08:00:00  0.018201
5578017       -8.2  42.200001 1981-10-05 09:00:00  0.018673
5578018       -8.2  42.200001 1981-10-05 10:00:00  0.019257
5578019       -8.2  42.200001 1981-10-05 11:00:00  0.020193
5578020       -8.2  42.200001 1981-10-05 12:00:00  0.021667
5578021       -8.2  42.200001 1981-10-05 13:00:00  0.025548
5578022       -8.2  42.200001 1981-10-05 14:00:00  0.032586
5578023       -8.2  42.200001 1981-10-05 15:00:00  0.041674
5578024       -8.2  42.200001 1981-10-05 16:00:00  0.047629
5578025       -8.2  42.200001 1981-10-05 17:00:00  0.049236
5578026       -8.2  42.200001 1981-10-05 18:00:00  0.049425
5578027       -8.2  42.200001 1981-10-05 19:00:00  0.049434
5578028       -8.2  42.200001 1981-10-05 20:00:00  0.049442
5578029       -8.2  42.200001 1981-10-05 21:00:00  0.049470
5578030       -8.2  42.200001 1981-10-05 22:00:00  0.049823
5578031       -8.2  42.200001 1981-10-05 23:00:00  0.050638

In [36]:
sum(df[(round(df["longitude"], 1) == -8.2) & (round(df["latitude"], 1) == 42.2)].iloc[6648:6672,3])

0.7355765625834465

# New verification

In [39]:
precip.iloc[10000:10020,:]

,Index,P0000,P0001,P0002,P0003,P0004,P0005,P0006,P0007,P0008,...,P1047,P1048,P1055,P1056,P1057,P1058,P1059,P1062,P1063,P1064
10000,2009-02-23,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10001,2009-02-24,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10002,2009-02-25,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10003,2009-02-26,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10004,2009-02-27,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,2.34,2.28,0.87,0.73,0.59,0.47,0.36,0.68,0.61,0.55
10005,2009-02-28,1.58,0.25,0.57,0.98,1.39,1.92,2.54,0.07,0.23,...,2.61,2.52,3.02,3.47,3.95,4.42,4.71,3.02,3.17,3.28
10006,2009-03-01,1.00,0.65,0.70,0.73,0.78,0.91,1.06,0.54,0.61,...,0.97,0.97,2.18,1.68,1.61,1.72,1.76,1.33,1.35,1.38
10007,2009-03-02,0.05,0.02,0.03,0.04,0.06,0.10,0.16,0.02,0.04,...,2.35,2.49,6.10,6.73,7.17,7.53,7.83,5.50,5.82,6.08
10008,2009-03-03,0.38,0.83,0.69,0.55,0.40,0.29,0.24,0.78,0.69,...,2.57,1.77,0.78,0.77,0.61,0.40,0.22,0.29,0.24,0.20
10009,2009-03-04,22.35,26.98,26.52,24.98,23.33,21.74,20.30,26.24,27.42,...,2.72,2.46,1.03,0.95,0.80,0.62,0.47,1.07,0.96,0.86
10010,2009-03-05,12.66,9.05,9.62,10.15,10.77,11.16,10.83,8.85,9.37,...,1.66,1.37,0.41,0.37,0.33,0.30,0.28,0.45,0.44,0.43
10011,2009-03-06,5.53,6.41,6.36,6.32,6.16,5.86,5.80,5.23,5.26,...,0.46,0.44,0.25,0.26,0.24,0.20,0.17,0.11,0.10,0.09
10012,2009-03-07,0.62,0.32,0.41,0.53,0.65,0.74,0.82,0.19,0.26,...,0.14,0.10,0.04,0.05,0.04,0.04,0.04,0.05,0.05,0.05
10013,2009-03-08,0.14,0.01,0.02,0.04,0.06,0.09,0.11,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10014,2009-03-09,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10015,2009-03-10,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10016,2009-03-11,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10017,2009-03-12,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10018,2009-03-13,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10019,2009-03-14,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [41]:
ds2 = xr.open_dataset(r"D:\Precipitation\by_civil_year\Ficheiros NC\era5land_2009.nc")
df2 = ds2.to_dataframe()
df2 = df2.reset_index()
df2

          longitude   latitude                time        tp
0              -9.4  42.200001 2009-01-01 00:00:00       NaN
1              -9.4  42.200001 2009-01-01 01:00:00       NaN
2              -9.4  42.200001 2009-01-01 02:00:00       NaN
3              -9.4  42.200001 2009-01-01 03:00:00       NaN
4              -9.4  42.200001 2009-01-01 04:00:00       NaN
...             ...        ...                 ...       ...
15321235       -6.2  37.000000 2009-12-31 19:00:00  0.012161
15321236       -6.2  37.000000 2009-12-31 20:00:00  0.012243
15321237       -6.2  37.000000 2009-12-31 21:00:00  0.012282
15321238       -6.2  37.000000 2009-12-31 22:00:00  0.012284
15321239       -6.2  37.000000 2009-12-31 23:00:00  0.012284

[15321240 rows x 4 columns]

# 1 day - P1058

In [46]:
df2[(round(df2["longitude"], 1) == -7.8) & (round(df2["latitude"], 1) == 37.1)].iloc[1416:1440,:]

         longitude   latitude                time        tp
7876656       -7.8  37.099998 2009-03-01 00:00:00  0.004416
7876657       -7.8  37.099998 2009-03-01 01:00:00  0.000001
7876658       -7.8  37.099998 2009-03-01 02:00:00  0.000003
7876659       -7.8  37.099998 2009-03-01 03:00:00  0.000003
7876660       -7.8  37.099998 2009-03-01 04:00:00  0.000004
7876661       -7.8  37.099998 2009-03-01 05:00:00  0.000006
7876662       -7.8  37.099998 2009-03-01 06:00:00  0.000006
7876663       -7.8  37.099998 2009-03-01 07:00:00  0.000009
7876664       -7.8  37.099998 2009-03-01 08:00:00  0.000023
7876665       -7.8  37.099998 2009-03-01 09:00:00  0.000053
7876666       -7.8  37.099998 2009-03-01 10:00:00  0.000069
7876667       -7.8  37.099998 2009-03-01 11:00:00  0.000106
7876668       -7.8  37.099998 2009-03-01 12:00:00  0.000184
7876669       -7.8  37.099998 2009-03-01 13:00:00  0.000306
7876670       -7.8  37.099998 2009-03-01 14:00:00  0.000471
7876671       -7.8  37.099998 2009-03-01 15:00:00  0.000981
7876672       -7.8  37.099998 2009-03-01 16:00:00  0.001052
7876673       -7.8  37.099998 2009-03-01 17:00:00  0.001127
7876674       -7.8  37.099998 2009-03-01 18:00:00  0.001178
7876675       -7.8  37.099998 2009-03-01 19:00:00  0.001255
7876676       -7.8  37.099998 2009-03-01 20:00:00  0.001302
7876677       -7.8  37.099998 2009-03-01 21:00:00  0.001493
7876678       -7.8  37.099998 2009-03-01 22:00:00  0.001600
7876679       -7.8  37.099998 2009-03-01 23:00:00  0.001655

In [47]:
sum(df2[(round(df2["longitude"], 1) == -7.8) & (round(df2["latitude"], 1) == 37.1)].iloc[1416:1440,3])

0.017305132001638412

# 2 days - P1058

In [48]:
df2[(round(df2["longitude"], 1) == -7.8) & (round(df2["latitude"], 1) == 37.1)].iloc[1440:1464,:]

         longitude   latitude                time        tp
7876680       -7.8  37.099998 2009-03-02 00:00:00  0.001720
7876681       -7.8  37.099998 2009-03-02 01:00:00  0.000124
7876682       -7.8  37.099998 2009-03-02 02:00:00  0.000132
7876683       -7.8  37.099998 2009-03-02 03:00:00  0.000143
7876684       -7.8  37.099998 2009-03-02 04:00:00  0.000215
7876685       -7.8  37.099998 2009-03-02 05:00:00  0.000509
7876686       -7.8  37.099998 2009-03-02 06:00:00  0.000763
7876687       -7.8  37.099998 2009-03-02 07:00:00  0.001217
7876688       -7.8  37.099998 2009-03-02 08:00:00  0.002209
7876689       -7.8  37.099998 2009-03-02 09:00:00  0.003007
7876690       -7.8  37.099998 2009-03-02 10:00:00  0.003722
7876691       -7.8  37.099998 2009-03-02 11:00:00  0.004691
7876692       -7.8  37.099998 2009-03-02 12:00:00  0.005549
7876693       -7.8  37.099998 2009-03-02 13:00:00  0.006389
7876694       -7.8  37.099998 2009-03-02 14:00:00  0.006971
7876695       -7.8  37.099998 2009-03-02 15:00:00  0.007300
7876696       -7.8  37.099998 2009-03-02 16:00:00  0.007414
7876697       -7.8  37.099998 2009-03-02 17:00:00  0.007477
7876698       -7.8  37.099998 2009-03-02 18:00:00  0.007482
7876699       -7.8  37.099998 2009-03-02 19:00:00  0.007489
7876700       -7.8  37.099998 2009-03-02 20:00:00  0.007499
7876701       -7.8  37.099998 2009-03-02 21:00:00  0.007515
7876702       -7.8  37.099998 2009-03-02 22:00:00  0.007522
7876703       -7.8  37.099998 2009-03-02 23:00:00  0.007532

In [49]:
sum(df2[(round(df2["longitude"], 1) == -7.8) & (round(df2["latitude"], 1) == 37.1)].iloc[1440:14464,3])

4.414380757138133

# 3 days - P1058

In [50]:
df2[(round(df2["longitude"], 1) == -7.8) & (round(df2["latitude"], 1) == 37.1)].iloc[1464:1488,:]

         longitude   latitude                time        tp
7876704       -7.8  37.099998 2009-03-03 00:00:00  0.007532
7876705       -7.8  37.099998 2009-03-03 01:00:00  0.000000
7876706       -7.8  37.099998 2009-03-03 02:00:00  0.000000
7876707       -7.8  37.099998 2009-03-03 03:00:00  0.000000
7876708       -7.8  37.099998 2009-03-03 04:00:00  0.000000
7876709       -7.8  37.099998 2009-03-03 05:00:00  0.000000
7876710       -7.8  37.099998 2009-03-03 06:00:00  0.000000
7876711       -7.8  37.099998 2009-03-03 07:00:00  0.000001
7876712       -7.8  37.099998 2009-03-03 08:00:00  0.000016
7876713       -7.8  37.099998 2009-03-03 09:00:00  0.000052
7876714       -7.8  37.099998 2009-03-03 10:00:00  0.000053
7876715       -7.8  37.099998 2009-03-03 11:00:00  0.000106
7876716       -7.8  37.099998 2009-03-03 12:00:00  0.000214
7876717       -7.8  37.099998 2009-03-03 13:00:00  0.000275
7876718       -7.8  37.099998 2009-03-03 14:00:00  0.000319
7876719       -7.8  37.099998 2009-03-03 15:00:00  0.000341
7876720       -7.8  37.099998 2009-03-03 16:00:00  0.000369
7876721       -7.8  37.099998 2009-03-03 17:00:00  0.000393
7876722       -7.8  37.099998 2009-03-03 18:00:00  0.000396
7876723       -7.8  37.099998 2009-03-03 19:00:00  0.000399
7876724       -7.8  37.099998 2009-03-03 20:00:00  0.000399
7876725       -7.8  37.099998 2009-03-03 21:00:00  0.000399
7876726       -7.8  37.099998 2009-03-03 22:00:00  0.000399
7876727       -7.8  37.099998 2009-03-03 23:00:00  0.000399

In [51]:
sum(df2[(round(df2["longitude"], 1) == -7.8) & (round(df2["latitude"], 1) == 37.1)].iloc[1464:14488,3])

4.309789696708322

# After transformation - P0000

In [54]:
data = pd.read_csv(r"D:\Precipitation\by_water_year\era5land_precipitation_1981_1982.csv", compression = "zip")
data

,time,P0000,P0001,P0002,P0003,P0004,P0005,P0006,P0007,P0008,...,P1047,P1048,P1055,P1056,P1057,P1058,P1059,P1062,P1063,P1064
0,1981-10-01 00:00:00,0.004504,0.008804,0.007593,0.006461,0.005293,0.004199,0.003332,0.008967,0.007685,...,4.157424e-06,4.157424e-06,2.771616e-06,2.771616e-06,2.771616e-06,2.771616e-06,2.771616e-06,2.771616e-06,2.771616e-06,2.771616e-06
1,1981-10-01 01:00:00,0.003679,0.002935,0.003297,0.003660,0.003970,0.003907,0.003555,0.002712,0.003199,...,1.385808e-06,1.385808e-06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2,1981-10-01 02:00:00,0.005542,0.004873,0.005377,0.005803,0.006171,0.006189,0.006058,0.004656,0.005513,...,1.385808e-06,1.385808e-06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
3,1981-10-01 03:00:00,0.007191,0.006105,0.006852,0.007500,0.008066,0.008161,0.008005,0.005793,0.006972,...,2.771616e-06,1.385808e-06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
4,1981-10-01 04:00:00,0.007668,0.006408,0.007186,0.007861,0.008480,0.008854,0.009167,0.006089,0.007312,...,2.771616e-06,1.385808e-06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,1982-09-30 19:00:00,0.000023,0.000085,0.000055,0.000041,0.000029,0.000024,0.000022,0.000112,0.000076,...,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07
8756,1982-09-30 20:00:00,0.000023,0.000085,0.000055,0.000041,0.000029,0.000024,0.000022,0.000112,0.000076,...,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07
8757,1982-09-30 21:00:00,0.000023,0.000085,0.000055,0.000041,0.000029,0.000024,0.000022,0.000112,0.000076,...,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07
8758,1982-09-30 22:00:00,0.000023,0.000085,0.000055,0.000041,0.000029,0.000024,0.000022,0.000112,0.000076,...,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07
8759,1982-09-30 23:00:00,0.000023,0.000085,0.000055,0.000041,0.000029,0.000024,0.000022,0.000112,0.000076,...,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07,9.723008e-07

# After transformation - P1058

In [55]:
data2 = pd.read_csv(r"D:\Precipitation\by_water_year\era5land_precipitation_2008_2009.csv", compression = "zip")
data2

,time,P0000,P0001,P0002,P0003,P0004,P0005,P0006,P0007,P0008,...,P1047,P1048,P1055,P1056,P1057,P1058,P1059,P1062,P1063,P1064
0,2008-10-01 00:00:00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000040,0.000072,0.000324,0.000314,0.000251,0.000170,0.000097,0.000119,0.000098,0.000081
1,2008-10-01 01:00:00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2008-10-01 02:00:00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,2008-10-01 03:00:00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,2008-10-01 04:00:00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2009-09-30 19:00:00,0.00158,0.000053,0.000244,0.000528,0.000846,0.001038,0.000912,0.0,0.000082,...,0.000205,0.000269,0.005983,0.006309,0.005749,0.004865,0.004023,0.002676,0.002554,0.002453
8756,2009-09-30 20:00:00,0.00158,0.000053,0.000244,0.000528,0.000846,0.001038,0.000912,0.0,0.000082,...,0.000205,0.000269,0.005983,0.006309,0.005749,0.004865,0.004023,0.002676,0.002554,0.002453
8757,2009-09-30 21:00:00,0.00158,0.000053,0.000244,0.000528,0.000846,0.001038,0.000912,0.0,0.000082,...,0.000205,0.000269,0.005983,0.006309,0.005749,0.004865,0.004023,0.002676,0.002554,0.002453
8758,2009-09-30 22:00:00,0.00158,0.000053,0.000244,0.000528,0.000846,0.001038,0.000912,0.0,0.000082,...,0.000205,0.000269,0.005983,0.006309,0.005749,0.004865,0.004023,0.002676,0.002554,0.002453
8759,2009-09-30 23:00:00,0.00158,0.000053,0.000244,0.000528,0.000846,0.001038,0.000912,0.0,0.000082,...,0.000205,0.000269,0.005983,0.006309,0.005749,0.004865,0.004023,0.002676,0.002554,0.002453

In [62]:
data2.iloc[3648:3672,:]

,time,P0000,P0001,P0002,P0003,P0004,P0005,P0006,P0007,P0008,...,P1047,P1048,P1055,P1056,P1057,P1058,P1059,P1062,P1063,P1064
3648,2009-03-02 00:00:00,0.001000,0.000652,0.000700,0.000733,0.000781,0.000911,0.001061,0.000542,0.000614,...,0.000971,0.000968,0.002180,0.001677,0.001613,0.001720,0.001761,0.001330,0.001354,0.001375
3649,2009-03-02 01:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000003,0.000001,0.000110,0.000134,0.000134,0.000124,0.000116,0.000061,0.000064,0.000066
3650,2009-03-02 02:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000006,0.000003,0.000111,0.000136,0.000139,0.000132,0.000134,0.000064,0.000069,0.000075
3651,2009-03-02 03:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000001,0.000000,0.000000,...,0.000009,0.000006,0.000111,0.000137,0.000145,0.000143,0.000150,0.000068,0.000081,0.000091
3652,2009-03-02 04:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000001,0.000003,0.000000,0.000000,...,0.000017,0.000013,0.000273,0.000299,0.000269,0.000215,0.000181,0.000132,0.000133,0.000136
3653,2009-03-02 05:00:00,0.000001,0.000000,0.000000,0.000000,0.000000,0.000001,0.000004,0.000000,0.000000,...,0.000077,0.000077,0.000785,0.000893,0.000749,0.000509,0.000317,0.000384,0.000340,0.000301
3654,2009-03-02 06:00:00,0.000001,0.000000,0.000000,0.000000,0.000001,0.000003,0.000006,0.000000,0.000000,...,0.000199,0.000233,0.001067,0.001181,0.001022,0.000763,0.000559,0.000604,0.000554,0.000510
3655,2009-03-02 07:00:00,0.000003,0.000001,0.000001,0.000001,0.000001,0.000004,0.000007,0.000001,0.000001,...,0.000491,0.000600,0.001753,0.001842,0.001589,0.001217,0.000928,0.001077,0.000994,0.000925
3656,2009-03-02 08:00:00,0.000003,0.000001,0.000001,0.000001,0.000001,0.000004,0.000009,0.000001,0.000001,...,0.000739,0.000941,0.002417,0.002548,0.002424,0.002209,0.002019,0.001639,0.001612,0.001587
3657,2009-03-02 09:00:00,0.000003,0.000001,0.000001,0.000001,0.000001,0.000004,0.000009,0.000001,0.000001,...,0.000927,0.001201,0.003103,0.003258,0.003174,0.003007,0.002839,0.002188,0.002177,0.002168
3658,2009-03-02 10:00:00,0.000003,0.000001,0.000001,0.000001,0.000001,0.000004,0.000010,0.000001,0.000001,...,0.001090,0.001419,0.003975,0.004185,0.004020,0.003722,0.003440,0.002872,0.002832,0.002798
3659,2009-03-02 11:00:00,0.000009,0.000001,0.000003,0.000006,0.000010,0.000019,0.000033,0.000007,0.000009,...,0.001236,0.001583,0.004691,0.004978,0.004906,0.004691,0.004446,0.003673,0.003599,0.003539
3660,2009-03-02 12:00:00,0.000023,0.000003,0.000007,0.000012,0.000019,0.000046,0.000090,0.000009,0.000012,...,0.001307,0.001646,0.005451,0.005838,0.005785,0.005549,0.005290,0.004524,0.004456,0.004400
3661,2009-03-02 13:00:00,0.000027,0.000006,0.000010,0.000014,0.000023,0.000056,0.000107,0.000012,0.000016,...,0.001325,0.001658,0.005806,0.006307,0.006428,0.006389,0.006298,0.005013,0.005058,0.005094
3662,2009-03-02 14:00:00,0.000039,0.000016,0.000025,0.000035,0.000046,0.000080,0.000129,0.000022,0.000032,...,0.001350,0.001674,0.005963,0.006545,0.006824,0.006971,0.007047,0.005295,0.005465,0.005608
3663,2009-03-02 15:00:00,0.000046,0.000017,0.000027,0.000040,0.000055,0.000094,0.000152,0.000023,0.000036,...,0.001373,0.001690,0.006038,0.006665,0.007039,0.007300,0.007493,0.005432,0.005681,0.005889
3664,2009-03-02 16:00:00,0.000048,0.000017,0.000027,0.000042,0.000056,0.000100,0.000162,0.000023,0.000036,...,0.001389,0.001710,0.006038,0.006678,0.007096,0.007414,0.007671,0.005460,0.005749,0.005989
3665,2009-03-02 17:00:00,0.000048,0.000017,0.000027,0.000042,0.000056,0.000100,0.000162,0.000025,0.000040,...,0.001415,0.001759,0.006038,0.006685,0.007129,0.007477,0.007766,0.005470,0.005770,0.006022
3666,2009-03-02 18:00:00,0.000048,0.000017,0.000027,0.000042,0.000056,0.000100,0.000162,0.000025,0.000040,...,0.001431,0.001787,0.006038,0.006685,0.007130,0.007482,0.007775,0.005471,0.005772,0.006025
3667,2009-03-02 19:00:00,0.000048,0.000017,0.000027,0.000042,0.000056,0.000100,0.000162,0.000025,0.000040,...,0.001441,0.001805,0.006049,0.006698,0.007142,0.007489,0.007781,0.005475,0.005776,0.006029
3668,2009-03-02 20:00:00,0.000048,0.000017,0.000027,0.000042,0.000056,0.000100,0.000162,0.000025,0.000040,...,0.001577,0.001907,0.006071,0.006713,0.007154,0.007499,0.007790,0.005481,0.005782,0.006032
3669,2009-03-02 21:00:00,0.000048,0.000017,0.000027,0.000042,0.000056,0.000100,0.000162,0.000025,0.000040,...,0.001807,0.002068,0.006091,0.006724,0.007164,0.007515,0.007808,0.005494,0.005799,0.006055
3670,2009-03-02 22:00:00,0.000048,0.000017,0.000027,0.000042,0.000056,0.000100,0.000162,0.000025,0.000040,...,0.002177,0.002371,0.006104,0.006730,0.007170,0.007522,0.007819,0.005500,0.005808,0.006065
3671,2009-03-02 23:00:00,0.000048,0.000017,0.000027,0.000042,0.000056,0.000100,0.000162,0.000025,0.000040,...,0.002291,0.002453,0.006104,0.006732,0.007174,0.007532,0.007833,0.005503,0.005817,0.006080