In [1]:
# Importing libraries
import pandas as pd
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
from sklearn.decomposition import PCA
from sklearn.datasets import load_iris
from sklearn.preprocessing import StandardScaler 
import warnings
warnings.filterwarnings('ignore')
import scipy
from sklearn.cluster import KMeans

In [2]:
# Importing files
precip = pd.read_excel(r"C:\Users\joaoa\Desktop\Doutoramento\Daily_rainfall_analysis\ERA5_Rainfall_PT_mm_Oct1981_Sep2023.xlsx")
local = pd.read_csv(r"C:\Users\joaoa\Desktop\Doutoramento\Professora\Nova pasta\Todos os Pontos (temperatura)\local.cvs")

# Checking nulls
print("Nulls:", precip.isnull().sum().sum())

# Creating column "year"
precip.insert(0, "year", 0)
precip.insert(1, "day", 0)
for row in range(0,len(precip)):
    precip.loc[row, "year"] = 1981 + row // 365
    precip.loc[row, "day"] = (row + 1) - 365*(row // 365)
precip = precip.drop(["Index"], axis = 1)
precip

Nulls: 0

,year,day,P0000,P0001,P0002,P0003,P0004,P0005,P0006,P0007,...,P1047,P1048,P1055,P1056,P1057,P1058,P1059,P1062,P1063,P1064
0,1981,1,18.59,29.60,28.42,25.24,21.88,19.20,17.59,28.02,...,0.44,0.51,0.25,0.24,0.25,0.26,0.27,0.15,0.15,0.14
1,1981,2,3.65,9.55,8.22,6.58,4.94,3.69,2.98,10.32,...,0.02,0.02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,1981,3,7.53,15.72,14.61,12.94,11.11,9.19,7.73,15.97,...,2.12,2.66,1.65,1.61,1.32,0.93,0.59,1.18,0.99,0.83
3,1981,4,51.39,47.14,49.84,52.24,54.10,53.28,50.52,45.37,...,0.29,0.47,0.53,0.49,0.43,0.35,0.28,0.25,0.24,0.22
4,1981,5,51.86,30.62,38.98,48.55,57.39,62.94,66.47,28.54,...,9.71,10.47,13.67,13.27,12.35,11.22,10.13,10.34,9.65,9.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15325,2022,361,0.05,0.03,0.02,0.02,0.02,0.02,0.02,0.01,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
15326,2022,362,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
15327,2022,363,0.06,0.50,0.38,0.24,0.10,0.03,0.01,0.47,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
15328,2022,364,0.06,0.01,0.02,0.03,0.05,0.05,0.04,0.01,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
15329,2022,365,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [3]:
# Creating a dictionary with all dataframes
df_dict = {}
max_d = 8
D = range(1,max_d+1)

for days in D:
    # Size of the group
    d = days

    # Rolling sum
    df_roll = precip
    df_roll = df_roll.rolling(d).sum()
    df_roll[["year","day"]] = precip[["year","day"]]
    df_roll = df_roll.loc[df_roll["day"] >= d, :]
    df_roll = df_roll.drop(["day"], axis = 1)

    # Grouping by "year" computing its maximum value
    max_precip = df_roll.groupby("year").max()
    max_precip.index.name = None

    # Standardizing dataframe
    scaler = StandardScaler() 
    stand_precip = scaler.fit_transform(max_precip) 
    stand_precip = pd.DataFrame(stand_precip, columns = max_precip.columns)
    stand_precip = stand_precip*np.sqrt((len(stand_precip)-1)/len(stand_precip))

    # Transposing dataframe
    transp = stand_precip.transpose()

    # Clustering (k-means)
    max_k = 9
    K = range(2, max_k+1)
    inertia = []
    X = transp
    X.columns = X.columns.astype(str)

    for n in K:
        kmeans = KMeans(n_clusters = n, random_state = 42)
        kmeans.fit(X)
        inertia.append(kmeans.inertia_)
        kmeans.labels_ += 1
        transp[str(n) + "_clusters|" + str(d) + "_days"] = kmeans.labels_
    
    df_dict[str(d) + "_days"] = transp

In [4]:
df_dict["2_days"]

,0,1,2,3,4,5,6,7,8,9,...,40,41,2_clusters|2_days,3_clusters|2_days,4_clusters|2_days,5_clusters|2_days,6_clusters|2_days,7_clusters|2_days,8_clusters|2_days,9_clusters|2_days
P0000,1.154295,-1.160579,0.093082,0.173360,-0.534298,-0.149952,2.043954,-0.622274,1.601324,-0.863109,...,-2.449980,0.272883,2,3,3,3,1,4,7,5
P0001,-0.320933,-0.477863,-0.592107,-0.018373,-0.161911,-0.792559,2.155623,-1.245771,0.639475,-1.206852,...,-1.985223,0.198817,2,3,3,3,1,4,7,5
P0002,-0.484521,-0.679189,-0.572186,0.026858,-0.144175,-0.716576,2.206881,-1.087863,0.815414,-1.241707,...,-2.075814,0.203048,2,3,3,3,1,4,7,5
P0003,0.174004,-0.891544,-0.541383,0.033849,-0.141004,-0.620820,2.199186,-0.997003,1.065157,-1.025765,...,-2.226904,0.223766,2,3,3,3,1,4,7,5
P0004,0.878153,-1.069724,-0.111215,0.043552,-0.167709,-0.485788,2.069287,-0.886947,1.290706,-0.762564,...,-2.387140,0.133754,2,3,3,3,1,4,7,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
P1058,-0.373304,-0.656313,2.654244,-0.648452,-0.995739,-0.863483,0.508555,1.801980,2.276899,-0.562440,...,-0.379779,-0.367293,1,1,4,1,2,2,1,7
P1059,-0.275007,-0.675083,2.777220,-0.804345,-0.939980,-0.873983,0.324423,1.823228,2.172327,-0.571764,...,-0.439316,-0.292303,1,1,4,1,2,2,1,7
P1062,0.072410,-0.604370,2.529303,-0.383158,-1.291121,-0.778891,0.945015,1.168039,2.393766,-0.652419,...,-0.782517,-0.452060,1,1,4,1,2,2,1,7
P1063,0.164883,-0.597036,2.724184,-0.482338,-1.259732,-0.791384,0.876280,1.259971,2.264939,-0.656660,...,-0.778185,-0.419983,1,1,4,1,2,2,1,7
P1064,0.235109,-0.589314,2.850597,-0.564482,-1.224111,-0.797000,0.803988,1.317333,2.126405,-0.657038,...,-0.770362,-0.392916,1,1,4,1,2,2,1,7

In [5]:
# Creating dataframes based on number of clusters
df_index = pd.DataFrame(index = transp.index)

for n in K:
    df_aux = df_index
    for d in D:
        df_aux = pd.concat([df_aux, df_dict[str(d) + "_days"].iloc[:, 40+n]], axis = 1)
    
    df_aux = df_aux.astype(str)
    df_aux["Total"] = ""
    
    for d in D:
        df_aux["Total"] += df_aux.iloc[:,d-1]
    
    df_dict[str(n) + "_clusters"] = df_aux

In [6]:
df_dict["5_clusters"]

,5_clusters|1_days,5_clusters|2_days,5_clusters|3_days,5_clusters|4_days,5_clusters|5_days,5_clusters|6_days,5_clusters|7_days,5_clusters|8_days,Total
P0000,5,3,5,5,3,3,3,3,53553333
P0001,5,3,5,5,3,3,3,3,53553333
P0002,5,3,5,5,3,3,3,3,53553333
P0003,5,3,5,5,3,3,3,3,53553333
P0004,5,3,5,5,3,3,3,3,53553333
...,...,...,...,...,...,...,...,...,...
P1058,3,1,4,4,4,5,5,4,31444554
P1059,3,1,4,4,4,5,5,4,31444554
P1062,3,1,4,4,4,5,5,4,31444554
P1063,3,1,4,4,4,5,5,4,31444554
P1064,3,1,4,4,4,5,5,4,31444554

In [7]:
# Combinations list
import itertools
my_list = []
lista = []

for num in range(1,d+1):
    my_list.append(num)

for p in range(2, d+1):
    combinations = list(itertools.combinations(my_list, p))
    for tup in combinations:
        lista.append(list(tup))        
       
        
lista2 = []
for l in lista:
    list_ = []
    for n in l:
        list_.append(n-1)
    list_.append(-1)
    lista2.append(list_)
        
lista

[[1, 2],
 [1, 3],
 [1, 4],
 [1, 5],
 [1, 6],
 [1, 7],
 [1, 8],
 [2, 3],
 [2, 4],
 [2, 5],
 [2, 6],
 [2, 7],
 [2, 8],
 [3, 4],
 [3, 5],
 [3, 6],
 [3, 7],
 [3, 8],
 [4, 5],
 [4, 6],
 [4, 7],
 [4, 8],
 [5, 6],
 [5, 7],
 [5, 8],
 [6, 7],
 [6, 8],
 [7, 8],
 [1, 2, 3],
 [1, 2, 4],
 [1, 2, 5],
 [1, 2, 6],
 [1, 2, 7],
 [1, 2, 8],
 [1, 3, 4],
 [1, 3, 5],
 [1, 3, 6],
 [1, 3, 7],
 [1, 3, 8],
 [1, 4, 5],
 [1, 4, 6],
 [1, 4, 7],
 [1, 4, 8],
 [1, 5, 6],
 [1, 5, 7],
 [1, 5, 8],
 [1, 6, 7],
 [1, 6, 8],
 [1, 7, 8],
 [2, 3, 4],
 [2, 3, 5],
 [2, 3, 6],
 [2, 3, 7],
 [2, 3, 8],
 [2, 4, 5],
 [2, 4, 6],
 [2, 4, 7],
 [2, 4, 8],
 [2, 5, 6],
 [2, 5, 7],
 [2, 5, 8],
 [2, 6, 7],
 [2, 6, 8],
 [2, 7, 8],
 [3, 4, 5],
 [3, 4, 6],
 [3, 4, 7],
 [3, 4, 8],
 [3, 5, 6],
 [3, 5, 7],
 [3, 5, 8],
 [3, 6, 7],
 [3, 6, 8],
 [3, 7, 8],
 [4, 5, 6],
 [4, 5, 7],
 [4, 5, 8],
 [4, 6, 7],
 [4, 6, 8],
 [4, 7, 8],
 [5, 6, 7],
 [5, 6, 8],
 [5, 7, 8],
 [6, 7, 8],
 [1, 2, 3, 4],
 [1, 2, 3, 5],
 [1, 2, 3, 6],
 [1, 2, 3, 7],
 [1, 2, 3, 8],
 [1, 2, 4, 5],
 [1, 2, 4, 6],
 [1, 2, 4, 7],
 [1, 2, 4, 8],
 [1, 2, 5, 6],
 [1, 2, 5, 7],
 [1, 2, 5, 8],
 [1, 2, 6, 7],
 [1, 2, 6, 8],
 [1, 2, 7, 8],
 [1, 3, 4, 5],
 [1, 3, 4, 6],
 [1, 3, 4, 7],
 [1, 3, 4, 8],
 [1, 3, 5, 6],
 [1, 3, 5, 7],
 [1, 3, 5, 8],
 [1, 3, 6, 7],
 [1, 3, 6, 8],
 [1, 3, 7, 8],
 [1, 4, 5, 6],
 [1, 4, 5, 7],
 [1, 4, 5, 8],
 [1, 4, 6, 7],
 [1, 4, 6, 8],
 [1, 4, 7, 8],
 [1, 5, 6, 7],
 [1, 5, 6, 8],
 [1, 5, 7, 8],
 [1, 6, 7, 8],
 [2, 3, 4, 5],
 [2, 3, 4, 6],
 [2, 3, 4, 7],
 [2, 3, 4, 8],
 [2, 3, 5, 6],
 [2, 3, 5, 7],
 [2, 3, 5, 8],
 [2, 3, 6, 7],
 [2, 3, 6, 8],
 [2, 3, 7, 8],
 [2, 4, 5, 6],
 [2, 4, 5, 7],
 [2, 4, 5, 8],
 [2, 4, 6, 7],
 [2, 4, 6, 8],
 [2, 4, 7, 8],
 [2, 5, 6, 7],
 [2, 5, 6, 8],
 [2, 5, 7, 8],
 [2, 6, 7, 8],
 [3, 4, 5, 6],
 [3, 4, 5, 7],
 [3, 4, 5, 8],
 [3, 4, 6, 7],
 [3, 4, 6, 8],
 [3, 4, 7, 8],
 [3, 5, 6, 7],
 [3, 5, 6, 8],
 [3, 5, 7, 8],
 [3, 6, 7, 8],
 [4, 5, 6, 7],
 [4, 5, 6, 8],
 [4, 5, 7, 8],
 [4, 6, 7, 8],
 [5, 6, 7, 8],
 [1, 2, 3, 4, 5],
 [1, 2, 3, 4, 6],
 [1, 2, 3, 4, 7],
 [1, 2, 3, 4, 8],
 [1, 2, 3, 5, 6],
 [1, 2, 3, 5, 7],
 [1, 2, 3, 5, 8],
 [1, 2, 3, 6, 7],
 [1, 2, 3, 6, 8],
 [1, 2, 3, 7, 8],
 [1, 2, 4, 5, 6],
 [1, 2, 4, 5, 7],
 [1, 2, 4, 5, 8],
 [1, 2, 4, 6, 7],
 [1, 2, 4, 6, 8],
 [1, 2, 4, 7, 8],
 [1, 2, 5, 6, 7],
 [1, 2, 5, 6, 8],
 [1, 2, 5, 7, 8],
 [1, 2, 6, 7, 8],
 [1, 3, 4, 5, 6],
 [1, 3, 4, 5, 7],
 [1, 3, 4, 5, 8],
 [1, 3, 4, 6, 7],
 [1, 3, 4, 6, 8],
 [1, 3, 4, 7, 8],
 [1, 3, 5, 6, 7],
 [1, 3, 5, 6, 8],
 [1, 3, 5, 7, 8],
 [1, 3, 6, 7, 8],
 [1, 4, 5, 6, 7],
 [1, 4, 5, 6, 8],
 [1, 4, 5, 7, 8],
 [1, 4, 6, 7, 8],
 [1, 5, 6, 7, 8],
 [2, 3, 4, 5, 6],
 [2, 3, 4, 5, 7],
 [2, 3, 4, 5, 8],
 [2, 3, 4, 6, 7],
 [2, 3, 4, 6, 8],
 [2, 3, 4, 7, 8],
 [2, 3, 5, 6, 7],
 [2, 3, 5, 6, 8],
 [2, 3, 5, 7, 8],
 [2, 3, 6, 7, 8],
 [2, 4, 5, 6, 7],
 [2, 4, 5, 6, 8],
 [2, 4, 5, 7, 8],
 [2, 4, 6, 7, 8],
 [2, 5, 6, 7, 8],
 [3, 4, 5, 6, 7],
 [3, 4, 5, 6, 8],
 [3, 4, 5, 7, 8],
 [3, 4, 6, 7, 8],
 [3, 5, 6, 7, 8],
 [4, 5, 6, 7, 8],
 [1, 2, 3, 4, 5, 6],
 [1, 2, 3, 4, 5, 7],
 [1, 2, 3, 4, 5, 8],
 [1, 2, 3, 4, 6, 7],
 [1, 2, 3, 4, 6, 8],
 [1, 2, 3, 4, 7, 8],
 [1, 2, 3, 5, 6, 7],
 [1, 2, 3, 5, 6, 8],
 [1, 2, 3, 5, 7, 8],
 [1, 2, 3, 6, 7, 8],
 [1, 2, 4, 5, 6, 7],
 [1, 2, 4, 5, 6, 8],
 [1, 2, 4, 5, 7, 8],
 [1, 2, 4, 6, 7, 8],
 [1, 2, 5, 6, 7, 8],
 [1, 3, 4, 5, 6, 7],
 [1, 3, 4, 5, 6, 8],
 [1, 3, 4, 5, 7, 8],
 [1, 3, 4, 6, 7, 8],
 [1, 3, 5, 6, 7, 8],
 [1, 4, 5, 6, 7, 8],
 [2, 3, 4, 5, 6, 7],
 [2, 3, 4, 5, 6, 8],
 [2, 3, 4, 5, 7, 8],
 [2, 3, 4, 6, 7, 8],
 [2, 3, 5, 6, 7, 8],
 [2, 4, 5, 6, 7, 8],
 [3, 4, 5, 6, 7, 8],
 [1, 2, 3, 4, 5, 6, 7],
 [1, 2, 3, 4, 5, 6, 8],
 [1, 2, 3, 4, 5, 7, 8],
 [1, 2, 3, 4, 6, 7, 8],
 [1, 2, 3, 5, 6, 7, 8],
 [1, 2, 4, 5, 6, 7, 8],
 [1, 3, 4, 5, 6, 7, 8],
 [2, 3, 4, 5, 6, 7, 8],
 [1, 2, 3, 4, 5, 6, 7, 8]]

In [8]:
# Creating a summary table
dummyarray = np.empty((len(lista),max_k-1))
dummyarray[:] = 0
sintese = pd.DataFrame(dummyarray)
sintese = sintese.astype(int)



cols = []
for _ in K:
    cols.append(str(_) + " clusters")
    
sintese.columns = cols

for _ in range(0,len(lista)):
    sintese.rename(index={_:str(lista[_])},inplace=True)

sintese

,2 clusters,3 clusters,4 clusters,5 clusters,6 clusters,7 clusters,8 clusters,9 clusters
"[1, 2]",0,0,0,0,0,0,0,0
"[1, 3]",0,0,0,0,0,0,0,0
"[1, 4]",0,0,0,0,0,0,0,0
"[1, 5]",0,0,0,0,0,0,0,0
"[1, 6]",0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
"[1, 2, 3, 5, 6, 7, 8]",0,0,0,0,0,0,0,0
"[1, 2, 4, 5, 6, 7, 8]",0,0,0,0,0,0,0,0
"[1, 3, 4, 5, 6, 7, 8]",0,0,0,0,0,0,0,0
"[2, 3, 4, 5, 6, 7, 8]",0,0,0,0,0,0,0,0
"[1, 2, 3, 4, 5, 6, 7, 8]",0,0,0,0,0,0,0,0

In [9]:
# Creating dataframes based on number of clusters
df_index = pd.DataFrame(index = transp.index)

for n in K:
    
    for zzz in range(0,len(lista)):
        df_aux = df_index
        for d in D:
            df_aux = pd.concat([df_aux, df_dict[str(d) + "_days"].iloc[:, 40+n]], axis = 1)

        df_aux = df_aux.astype(str)
        df_aux = df_aux.iloc[:,lista2[zzz]]
        df_aux["Total"] = ""

        for d in range(1,len(df_aux.columns)):
            df_aux["Total"] += df_aux.iloc[:,d-1]
            
        sintese.iloc[zzz,n-2] = sum(df_aux.groupby("Total").count().sort_values(by = df_aux.columns[0], ascending=False).iloc[:n,0])
sintese.index.names = ["days"]
sintese

,2 clusters,3 clusters,4 clusters,5 clusters,6 clusters,7 clusters,8 clusters,9 clusters
days,,,,,,,,
"[1, 2]",667,654,794,749,679,667,606,603
"[1, 3]",676,647,759,625,628,580,544,531
"[1, 4]",693,654,750,626,604,576,537,476
"[1, 5]",706,658,752,628,609,568,546,507
"[1, 6]",835,658,801,757,714,632,580,570
...,...,...,...,...,...,...,...,...
"[1, 2, 3, 5, 6, 7, 8]",667,645,723,582,575,480,436,398
"[1, 2, 4, 5, 6, 7, 8]",667,652,719,542,538,491,433,356
"[1, 3, 4, 5, 6, 7, 8]",676,646,716,540,534,474,407,354
"[2, 3, 4, 5, 6, 7, 8]",829,797,755,579,615,520,471,442
"[1, 2, 3, 4, 5, 6, 7, 8]",667,645,715,536,534,453,397,344

In [10]:
sintese.to_excel(r"C:\Users\joaoa\Desktop\Doutoramento\Daily_rainfall_analysis\Sintese8.xlsx")

In [11]:
n = 4
df_aux = df_index
for d in D:
    df_aux = pd.concat([df_aux, df_dict[str(d) + "_days"].iloc[:, 40+n]], axis = 1)

df_aux = df_aux.astype(str)
df_aux = df_aux.iloc[:,[0,1,3,7,-1]]
df_aux["Total"] = ""

for d in range(1,len(df_aux.columns)):
    df_aux["Total"] += df_aux.iloc[:,d-1]
df_aux

,4_clusters|1_days,4_clusters|2_days,4_clusters|4_days,4_clusters|8_days,4_clusters|8_days,Total
P0000,3,3,1,4,4,33144
P0001,3,3,1,4,4,33144
P0002,3,3,1,4,4,33144
P0003,3,3,1,4,4,33144
P0004,3,3,1,4,4,33144
...,...,...,...,...,...,...
P1058,2,4,2,2,2,24222
P1059,2,4,2,2,2,24222
P1062,2,4,2,2,2,24222
P1063,2,4,2,2,2,24222
P1064,2,4,2,2,2,24222

In [12]:
df_aux.groupby("Total").count().sort_values(by = df_aux.columns[0], ascending=False).iloc[:4,0]

Total
33144    230
42333    186
11411    169
24222    164
Name: 4_clusters|1_days, dtype: int64