In [1]:
# Importing libraries
import pandas as pd
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
from sklearn.decomposition import PCA
from sklearn.datasets import load_iris
from sklearn.preprocessing import StandardScaler 
import warnings
warnings.filterwarnings('ignore')
import scipy
from sklearn.cluster import KMeans

In [2]:
# Importing files
precip = pd.read_excel(r"C:\Users\joaoa\Desktop\Doutoramento\Daily_rainfall_analysis\ERA5_Rainfall_PT_mm_Oct1981_Sep2023.xlsx")
local = pd.read_csv(r"C:\Users\joaoa\Desktop\Doutoramento\Professora\Nova pasta\Todos os Pontos (temperatura)\local.cvs")

# Checking nulls
print("Nulls:", precip.isnull().sum().sum())

# Creating column "year"
precip.insert(0, "year", 0)
precip.insert(1, "day", 0)
for row in range(0,len(precip)):
    precip.loc[row, "year"] = 1981 + row // 365
    precip.loc[row, "day"] = (row + 1) - 365*(row // 365)
precip = precip.drop(["Index"], axis = 1)
precip

Nulls: 0

,year,day,P0000,P0001,P0002,P0003,P0004,P0005,P0006,P0007,...,P1047,P1048,P1055,P1056,P1057,P1058,P1059,P1062,P1063,P1064
0,1981,1,18.59,29.60,28.42,25.24,21.88,19.20,17.59,28.02,...,0.44,0.51,0.25,0.24,0.25,0.26,0.27,0.15,0.15,0.14
1,1981,2,3.65,9.55,8.22,6.58,4.94,3.69,2.98,10.32,...,0.02,0.02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,1981,3,7.53,15.72,14.61,12.94,11.11,9.19,7.73,15.97,...,2.12,2.66,1.65,1.61,1.32,0.93,0.59,1.18,0.99,0.83
3,1981,4,51.39,47.14,49.84,52.24,54.10,53.28,50.52,45.37,...,0.29,0.47,0.53,0.49,0.43,0.35,0.28,0.25,0.24,0.22
4,1981,5,51.86,30.62,38.98,48.55,57.39,62.94,66.47,28.54,...,9.71,10.47,13.67,13.27,12.35,11.22,10.13,10.34,9.65,9.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15325,2022,361,0.05,0.03,0.02,0.02,0.02,0.02,0.02,0.01,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
15326,2022,362,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
15327,2022,363,0.06,0.50,0.38,0.24,0.10,0.03,0.01,0.47,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
15328,2022,364,0.06,0.01,0.02,0.03,0.05,0.05,0.04,0.01,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
15329,2022,365,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [3]:
# Creating a dictionary with all dataframes
df_dict = {}
D = range(1,4)

for days in D:
    # Size of the group
    d = days

    # Rolling sum
    df_roll = precip
    df_roll = df_roll.rolling(d).sum()
    df_roll[["year","day"]] = precip[["year","day"]]
    df_roll = df_roll.loc[df_roll["day"] >= d, :]
    df_roll = df_roll.drop(["day"], axis = 1)

    # Grouping by "year" computing its maximum value
    max_precip = df_roll.groupby("year").max()
    max_precip.index.name = None

    # Standardizing dataframe
    scaler = StandardScaler() 
    stand_precip = scaler.fit_transform(max_precip) 
    stand_precip = pd.DataFrame(stand_precip, columns = max_precip.columns)
    stand_precip = stand_precip*np.sqrt((len(stand_precip)-1)/len(stand_precip))

    # Transposing dataframe
    transp = stand_precip.transpose()

    # Clustering (k-means)
    K = range(2, 13)
    inertia = []
    X = transp
    X.columns = X.columns.astype(str)

    for n in K:
        kmeans = KMeans(n_clusters = n, random_state = 42)
        kmeans.fit(X)
        inertia.append(kmeans.inertia_)
        kmeans.labels_ += 1
        transp[str(n) + "_clusters|" + str(d) + "_days"] = kmeans.labels_
    
    df_dict[str(d) + "_days"] = transp

In [5]:
df_dict["2_days"]

,0,1,2,3,4,5,6,7,8,9,...,3_clusters|2_days,4_clusters|2_days,5_clusters|2_days,6_clusters|2_days,7_clusters|2_days,8_clusters|2_days,9_clusters|2_days,10_clusters|2_days,11_clusters|2_days,12_clusters|2_days
P0000,1.154295,-1.160579,0.093082,0.173360,-0.534298,-0.149952,2.043954,-0.622274,1.601324,-0.863109,...,3,3,3,1,4,7,5,4,5,4
P0001,-0.320933,-0.477863,-0.592107,-0.018373,-0.161911,-0.792559,2.155623,-1.245771,0.639475,-1.206852,...,3,3,3,1,4,7,5,4,5,4
P0002,-0.484521,-0.679189,-0.572186,0.026858,-0.144175,-0.716576,2.206881,-1.087863,0.815414,-1.241707,...,3,3,3,1,4,7,5,4,5,4
P0003,0.174004,-0.891544,-0.541383,0.033849,-0.141004,-0.620820,2.199186,-0.997003,1.065157,-1.025765,...,3,3,3,1,4,7,5,4,5,4
P0004,0.878153,-1.069724,-0.111215,0.043552,-0.167709,-0.485788,2.069287,-0.886947,1.290706,-0.762564,...,3,3,3,1,4,7,5,4,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
P1058,-0.373304,-0.656313,2.654244,-0.648452,-0.995739,-0.863483,0.508555,1.801980,2.276899,-0.562440,...,1,4,1,2,2,1,7,7,7,10
P1059,-0.275007,-0.675083,2.777220,-0.804345,-0.939980,-0.873983,0.324423,1.823228,2.172327,-0.571764,...,1,4,1,2,2,1,7,7,7,10
P1062,0.072410,-0.604370,2.529303,-0.383158,-1.291121,-0.778891,0.945015,1.168039,2.393766,-0.652419,...,1,4,1,2,2,1,7,7,7,10
P1063,0.164883,-0.597036,2.724184,-0.482338,-1.259732,-0.791384,0.876280,1.259971,2.264939,-0.656660,...,1,4,1,2,2,1,7,7,7,10
P1064,0.235109,-0.589314,2.850597,-0.564482,-1.224111,-0.797000,0.803988,1.317333,2.126405,-0.657038,...,1,4,1,2,2,1,7,7,7,10

In [6]:
# Creating dataframes based on number of clusters
df_index = pd.DataFrame(index = transp.index)

for n in K:
    df_aux = df_index
    for d in D:
        df_aux = pd.concat([df_aux, df_dict[str(d) + "_days"].iloc[:, 40+n]], axis = 1)
    
    df_aux = df_aux.astype(str)
    df_aux["Total"] = ""
    
    for d in D:
        df_aux["Total"] += df_aux.iloc[:,d-1]
    
    df_dict[str(n) + "_clusters"] = df_aux

In [7]:
df_dict["3_clusters"]

      3_clusters|1_days 3_clusters|2_days 3_clusters|3_days Total
P0000                 3                 3                 3   333
P0001                 3                 3                 3   333
P0002                 3                 3                 3   333
P0003                 3                 3                 3   333
P0004                 3                 3                 3   333
...                 ...               ...               ...   ...
P1058                 2                 1                 1   211
P1059                 2                 1                 1   211
P1062                 2                 1                 1   211
P1063                 2                 1                 1   211
P1064                 2                 1                 1   211

[1012 rows x 4 columns]

In [8]:
a = df_dict["5_clusters"].groupby("Total").count().sort_values(by = df_dict["5_clusters"].columns[0], ascending=False).reset_index().iloc[:,:2]
a = a.astype(int)
a

    Total  5_clusters|1_days
0     422                189
1     314                169
2     241                166
3     535                121
4     533                113
5     151                 96
6     243                 47
7     233                 33
8     322                 19
9     141                 10
10    312                 10
11    421                  9
12    251                  8
13    152                  7
14    452                  4
15    222                  3
16    441                  3
17    551                  2
18    553                  2
19    221                  1

In [9]:
for n in K:
    a = df_dict[str(n) + "_clusters"].groupby("Total").count().sort_values(by = df_dict[str(n) + "_clusters"].columns[0], ascending=False).reset_index().iloc[:,:2]
    a = a.astype(int)
    soma = 0
    soma2 = 0
    for row in range(0,n):
        soma += a.iloc[row,0]
        soma2 += a.iloc[row,1]
#    if soma == 111111*n*(n+1)/2:
#        print(str(n) + " clusters: " + str(soma2))
    print(str(n) + " clusters: " + str(soma2))

2 clusters: 705
3 clusters: 787
4 clusters: 886
5 clusters: 758
6 clusters: 793
7 clusters: 706
8 clusters: 678
9 clusters: 655
10 clusters: 631
11 clusters: 646
12 clusters: 651

In [10]:
a.iloc[0,0]

2710

In [ ]:
df_dict["5_clusters"].columns[0]