In [1]:
# Importing libraries
import pandas as pd
import cdsapi
import xarray as xr
import numpy as np
import time

In [2]:
# Importing coordinates
local = pd.read_csv(r"C:\Users\joaoa\Desktop\Doutoramento\Download ERA5\local.cvs")
local

      point  latitude  longitude
0         0      42.2       -8.2
1         1      42.1       -8.6
2         2      42.1       -8.5
3         3      42.1       -8.4
4         4      42.1       -8.3
...     ...       ...        ...
1007   1058      37.1       -7.8
1008   1059      37.1       -7.7
1009   1062      37.0       -8.0
1010   1063      37.0       -7.9
1011   1064      37.0       -7.8

[1012 rows x 3 columns]

In [3]:
# Creating columns
col_list = ["ti", "tf"]
yi = 1950 #1950

for row in range(0, len(local)):
    col_list.append('P' + (4-len(str(local.iloc[row,0])))*'0' + str(local.iloc[row,0]))

    
# Cleaning data and filtering dates
Y = range(yi, 2024) #yi-2024
P = range(0, 1012) #0-1012
df = pd.DataFrame()

for year in Y: 
    i = time.time()
    y1 = df
    
    ds = xr.open_dataset(r"D:\Precipitation\by_civil_year\Ficheiros NC\era5land_" + str(year) + ".nc")
    df = ds.to_dataframe()
    df = df.reset_index()
    df["longitude"] = round(df["longitude"], 1)
    df["latitude"] = round(df["latitude"], 1)
    df["point"] = -1
    
    for row in range(0, len(local)):
        df.loc[(df["latitude"] == local.loc[row, "latitude"]) & (df["longitude"] == local.loc[row, "longitude"]), "point"] = local.loc[row, "point"]

    df = df[df["point"] >= 0]
    df = df.sort_values(by=["point", "time"])
    df = df.rename(columns={"tp": "precipitation"})
    df = df[["point", "latitude", "longitude", "time", "precipitation"]]
    df = df.reset_index(drop = True)
    y2 = df
    
    # Creating and saving water years
    if year > yi:
        
        df_wy = pd.DataFrame(index = range(0, 8760), columns = col_list)
        
        # Filling ti
        df_wy.iloc[:2208, 0] = y1.iloc[-2208:, 3]
        df_wy.iloc[-6552:-5136, 0] = y2.iloc[:1416, 3]
        df_wy.iloc[-5136:, 0] = y2.iloc[-7344:-2208, 3]
        
        # Filling tf
        df_wy.iloc[:2207, 1] = y1.iloc[-2207:, 3]
        df_wy.iloc[-6553:-5136, 1] = y2.iloc[:1417, 3]
        df_wy.iloc[-5136:, 1] = y2.iloc[-7343:-2207, 3]
        
        # Filling precipitation
        for point in P:
            df_wy.iloc[:2207, point+2] = y1.loc[y1["point"] == local.iloc[point, 0]].iloc[-2207:, 4]
            df_wy.iloc[-6553:-5136, point+2] = y2.loc[y2["point"] == local.iloc[point, 0]].iloc[:1417, 4]
            df_wy.iloc[-5136:, point+2] = y2.loc[y2["point"] == local.iloc[point, 0]].iloc[-7343:-2207, 4]
            
        # Converting m to mm
        for row in range(8759, -1, -1):
            if df_wy.iloc[row, 1].hour == 1:
                df_wy.iloc[row, 2:] = df_wy.iloc[row, 2:]*1000
            else:
                df_wy.iloc[row, 2:] = (df_wy.iloc[row, 2:] - df_wy.iloc[row-1, 2:])*1000
        
        # Saving dataframe to csv
        print("Water year " + str(year-1) + "_" + str(year) + " downloaded. Nulls: " + str(df_wy.isnull().sum().sum()) + ". Min: " + str(df_wy.iloc[:, 2:].min().min()) + ". Max: " + str(df_wy.iloc[:, 2:].max().max()) + ". Time: " + str(int(time.time()-i)) + " seconds.")
        df_wy[df_wy.iloc[:, 2:] < 0] = 0
        df_wy.to_csv(r"D:\Precipitation\by_water_year\era5land_total_precipitation_" + str(year-1) + "_" + str(year) + "_(mm).csv", compression = "zip", index = False)

Water year 1950_1951 downloaded. Nulls: 0. Min: -0.001434236764907837. Max: 9.981362149119377. Time: 115 seconds.
Water year 1951_1952 downloaded. Nulls: 0. Min: -0.001434236764907837. Max: 11.529259383678436. Time: 117 seconds.
Water year 1952_1953 downloaded. Nulls: 0. Min: -0.0013373792171478271. Max: 13.822834938764572. Time: 107 seconds.
Water year 1953_1954 downloaded. Nulls: 0. Min: -0.0012330710887908936. Max: 12.07558810710907. Time: 119 seconds.
Water year 1954_1955 downloaded. Nulls: 0. Min: -0.0018104910850524902. Max: 8.704138919711113. Time: 108 seconds.
Water year 1955_1956 downloaded. Nulls: 0. Min: -0.0018104910850524902. Max: 15.270758420228958. Time: 108 seconds.
Water year 1956_1957 downloaded. Nulls: 0. Min: -0.0016354024410247803. Max: 9.926239028573036. Time: 107 seconds.
Water year 1957_1958 downloaded. Nulls: 0. Min: -0.0017955899238586426. Max: 9.21967625617981. Time: 108 seconds.
Water year 1958_1959 downloaded. Nulls: 0. Min: -0.0018738210201263428. Max: 17.47172325849533. Time: 107 seconds.
Water year 1959_1960 downloaded. Nulls: 0. Min: -0.0018738210201263428. Max: 12.37160712480545. Time: 109 seconds.
Water year 1960_1961 downloaded. Nulls: 0. Min: -0.0014975666999816895. Max: 10.996595025062561. Time: 107 seconds.
Water year 1961_1962 downloaded. Nulls: 0. Min: -0.0018067657947540283. Max: 13.770811259746552. Time: 105 seconds.
Water year 1962_1963 downloaded. Nulls: 0. Min: -0.0018067657947540283. Max: 11.878091841936111. Time: 107 seconds.
Water year 1963_1964 downloaded. Nulls: 0. Min: -0.0014118850231170654. Max: 12.463949620723724. Time: 107 seconds.
Water year 1964_1965 downloaded. Nulls: 0. Min: -0.0014491379261016846. Max: 11.007329449057579. Time: 106 seconds.
Water year 1965_1966 downloaded. Nulls: 0. Min: -0.0019446015357971191. Max: 14.448780566453934. Time: 107 seconds.
Water year 1966_1967 downloaded. Nulls: 0. Min: -0.0019446015357971191. Max: 12.138541787862778. Time: 107 seconds.
Water year 1967_1968 downloaded. Nulls: 0. Min: -0.0010952353477478027. Max: 8.63216444849968. Time: 107 seconds.
Water year 1968_1969 downloaded. Nulls: 0. Min: -0.0012926757335662842. Max: 14.612657949328423. Time: 107 seconds.
Water year 1969_1970 downloaded. Nulls: 0. Min: -0.001519918441772461. Max: 12.362182140350342. Time: 109 seconds.
Water year 1970_1971 downloaded. Nulls: 0. Min: -0.001519918441772461. Max: 9.910844266414642. Time: 107 seconds.
Water year 1971_1972 downloaded. Nulls: 0. Min: -0.0010542571544647217. Max: 10.591603815555573. Time: 115 seconds.
Water year 1972_1973 downloaded. Nulls: 0. Min: -0.001087784767150879. Max: 10.96675917506218. Time: 115 seconds.
Water year 1973_1974 downloaded. Nulls: 0. Min: -0.0018328428268432617. Max: 14.382343739271164. Time: 117 seconds.
Water year 1974_1975 downloaded. Nulls: 0. Min: -0.0018328428268432617. Max: 9.549207985401154. Time: 110 seconds.
Water year 1975_1976 downloaded. Nulls: 0. Min: -0.001210719347000122. Max: 10.293330997228622. Time: 109 seconds.
Water year 1976_1977 downloaded. Nulls: 0. Min: -0.0014044344425201416. Max: 10.016553103923798. Time: 109 seconds.
Water year 1977_1978 downloaded. Nulls: 0. Min: -0.001996755599975586. Max: 11.905886232852936. Time: 123 seconds.
Water year 1978_1979 downloaded. Nulls: 0. Min: -0.001996755599975586. Max: 14.362659305334091. Time: 121 seconds.
Water year 1979_1980 downloaded. Nulls: 0. Min: -0.001296401023864746. Max: 9.562039747834206. Time: 128 seconds.
Water year 1980_1981 downloaded. Nulls: 0. Min: -0.001389533281326294. Max: 11.890694499015808. Time: 122 seconds.
Water year 1981_1982 downloaded. Nulls: 0. Min: -0.001389533281326294. Max: 12.672320008277893. Time: 119 seconds.
Water year 1982_1983 downloaded. Nulls: 0. Min: -0.0012293457984924316. Max: 14.875456690788269. Time: 119 seconds.
Water year 1983_1984 downloaded. Nulls: 0. Min: -0.001296401023864746. Max: 12.467188760638237. Time: 125 seconds.
Water year 1984_1985 downloaded. Nulls: 0. Min: -0.001296401023864746. Max: 14.551742002367973. Time: 121 seconds.
Water year 1985_1986 downloaded. Nulls: 0. Min: -0.0016652047634124756. Max: 13.010144233703613. Time: 123 seconds.
Water year 1986_1987 downloaded. Nulls: 0. Min: -0.0020265579223632812. Max: 11.380884796380997. Time: 121 seconds.
Water year 1987_1988 downloaded. Nulls: 0. Min: -0.0020265579223632812. Max: 12.735992670059204. Time: 119 seconds.
Water year 1988_1989 downloaded. Nulls: 0. Min: -0.0015534460544586182. Max: 11.898964643478394. Time: 116 seconds.
Water year 1989_1990 downloaded. Nulls: 0. Min: -0.0015534460544586182. Max: 12.893246486783028. Time: 122 seconds.
Water year 1990_1991 downloaded. Nulls: 0. Min: -0.0017508864402770996. Max: 10.553078725934029. Time: 122 seconds.
Water year 1991_1992 downloaded. Nulls: 0. Min: -0.0017471611499786377. Max: 10.382302105426788. Time: 122 seconds.
Water year 1992_1993 downloaded. Nulls: 0. Min: -0.0012628734111785889. Max: 11.189835146069527. Time: 121 seconds.
Water year 1993_1994 downloaded. Nulls: 0. Min: -0.0012256205081939697. Max: 9.102286770939827. Time: 121 seconds.
Water year 1994_1995 downloaded. Nulls: 0. Min: -0.0018030405044555664. Max: 10.939795523881912. Time: 121 seconds.
Water year 1995_1996 downloaded. Nulls: 0. Min: -0.0018030405044555664. Max: 16.108226031064987. Time: 124 seconds.
Water year 1996_1997 downloaded. Nulls: 0. Min: -0.001475214958190918. Max: 14.449670910835266. Time: 122 seconds.
Water year 1997_1998 downloaded. Nulls: 0. Min: -0.001475214958190918. Max: 21.942149847745895. Time: 125 seconds.
Water year 1998_1999 downloaded. Nulls: 0. Min: -0.001344829797744751. Max: 13.936426490545273. Time: 125 seconds.
Water year 1999_2000 downloaded. Nulls: 0. Min: -0.0015795230865478516. Max: 10.519072413444519. Time: 119 seconds.
Water year 2000_2001 downloaded. Nulls: 0. Min: -0.0015795230865478516. Max: 15.025375410914421. Time: 114 seconds.
Water year 2001_2002 downloaded. Nulls: 0. Min: -0.001650303602218628. Max: 10.740125551819801. Time: 108 seconds.
Water year 2002_2003 downloaded. Nulls: 0. Min: -0.001650303602218628. Max: 11.443417519330978. Time: 116 seconds.
Water year 2003_2004 downloaded. Nulls: 0. Min: -0.0012628734111785889. Max: 11.638890951871872. Time: 111 seconds.
Water year 2004_2005 downloaded. Nulls: 0. Min: -0.0011548399925231934. Max: 11.682972311973572. Time: 109 seconds.
Water year 2005_2006 downloaded. Nulls: 0. Min: -0.001695007085800171. Max: 13.297421857714653. Time: 120 seconds.
Water year 2006_2007 downloaded. Nulls: 0. Min: -0.001695007085800171. Max: 24.483487010002136. Time: 122 seconds.
Water year 2007_2008 downloaded. Nulls: 0. Min: -0.0011883676052093506. Max: 13.954969123005867. Time: 202 seconds.
Water year 2008_2009 downloaded. Nulls: 0. Min: -0.0014491379261016846. Max: 9.476479142904282. Time: 204 seconds.
Water year 2009_2010 downloaded. Nulls: 0. Min: -0.0022873282432556152. Max: 11.795006692409515. Time: 203 seconds.
Water year 2010_2011 downloaded. Nulls: 0. Min: -0.0022873282432556152. Max: 15.734761953353882. Time: 205 seconds.
Water year 2011_2012 downloaded. Nulls: 0. Min: -0.0017471611499786377. Max: 16.885727643966675. Time: 225 seconds.
Water year 2012_2013 downloaded. Nulls: 0. Min: -0.0017471611499786377. Max: 13.865083456039429. Time: 249 seconds.
Water year 2013_2014 downloaded. Nulls: 0. Min: -0.0017248094081878662. Max: 11.448798701167107. Time: 216 seconds.
Water year 2014_2015 downloaded. Nulls: 0. Min: -0.002205371856689453. Max: 13.948965817689896. Time: 223 seconds.
Water year 2015_2016 downloaded. Nulls: 0. Min: -0.002205371856689453. Max: 17.391705885529518. Time: 243 seconds.
Water year 2016_2017 downloaded. Nulls: 0. Min: -0.0016726553440093994. Max: 10.453656315803528. Time: 236 seconds.
Water year 2017_2018 downloaded. Nulls: 0. Min: -0.0016726553440093994. Max: 10.26814803481102. Time: 239 seconds.
Water year 2018_2019 downloaded. Nulls: 0. Min: -0.001773238182067871. Max: 15.320021659135818. Time: 241 seconds.
Water year 2019_2020 downloaded. Nulls: 0. Min: -0.0018477439880371094. Max: 14.398127794265747. Time: 244 seconds.
Water year 2020_2021 downloaded. Nulls: 0. Min: -0.0018477439880371094. Max: 21.48003876209259. Time: 212 seconds.

Water year 2021_2022 downloaded. Nulls: 0. Min: -0.0015534460544586182. Max: 12.993276119232178. Time: 236 seconds.
Water year 2022_2023 downloaded. Nulls: 0. Min: -0.0015981495380401611. Max: 14.610011130571365. Time: 206 seconds.

In [4]:
# 01 Out 01:00:00 atÃ© 31 Dez 23:00:00 [-2207:] y1 - 2207
# 01 Jan 00:00:00 atÃ© 29 Fev 00:00:00 [:1417] y2 - 1417
# 01 Mar 01:00:00 atÃ© 01 Out 00:00:00 [-7343:-2207] y2 - 5136