In [10]:
import cdsapi

c = cdsapi.Client(url = "https://cds.climate.copernicus.eu/api/v2", key = "326394:498ac7d2-f60f-406e-a2b0-34943dc3848f")

for year in range(1970,1971):
    c.retrieve(
    'reanalysis-era5-land',
    {
        'variable': [
            'total_precipitation',
        ],
        'year': str(year),
        'month': [
            '01', '02', '03',
            '04', '05', '06',
            '07', '08', '09',
            '10', '11', '12',
        ],
        'day': [
            '01', '02', '03',
            '04', '05', '06',
            '07', '08', '09',
            '10', '11', '12',
            '13', '14', '15',
            '16', '17', '18',
            '19', '20', '21',
            '22', '23', '24',
            '25', '26', '27',
            '28', '29', '30',
            '31',
        ],
        'time': [
            '00:00', '01:00', '02:00',

        ],
        'area': [
            39, -8, 40, -7, # "lat_min, lon_min, lat_max, lon_max"
        ],
        'format': 'netcdf',
    },
    'era5land_' + str(year) + '.nc')

    print('era5land_' + str(year) + '.nc' + ' downloaded.')

2024-07-23 11:20:47,682 INFO Welcome to the CDS
2024-07-23 11:20:47,683 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-land
2024-07-23 11:20:47,811 INFO Request is queued
2024-07-23 11:21:01,343 INFO Request is running
2024-07-23 11:27:06,698 INFO Request is completed
2024-07-23 11:27:06,699 INFO Downloading https://download-0012-clone.copernicus-climate.eu/cache-compute-0012/cache/data0/adaptor.mars.internal-1721730318.438168-28969-5-05169deb-42e8-4c9c-800b-8ac63b9af793.nc to era5land_1970.nc (264.2K)
2024-07-23 11:27:07,333 INFO Download rate 417.5K/s

era5land_1970.nc downloaded.

In [11]:
import xarray as xr
ds = xr.open_dataset(r"C:\Users\joaoa\Desktop\Doutoramento\Daily_rainfall_analysis\era5land_1970.nc")
df = ds.to_dataframe()
df

                                              tp
longitude latitude time
-8.0      40.0     1970-01-01 00:00:00  0.012728
                   1970-01-01 01:00:00  0.000060
                   1970-01-01 02:00:00  0.000109
                   1970-01-02 00:00:00  0.000226
                   1970-01-02 01:00:00  0.000000
...                                          ...
-7.0      39.0     1970-12-30 01:00:00  0.000288
                   1970-12-30 02:00:00  0.000503
                   1970-12-31 00:00:00  0.001249
                   1970-12-31 01:00:00  0.000000
                   1970-12-31 02:00:00  0.000000

[132495 rows x 1 columns]

In [8]:
176660/365

484.0

In [9]:
484/2/2

121.0

In [ ]:
121